<!DOCTYPE html>
<html>

<head>

    <title>Doctors</title>

    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-cyan-100">

    <h1 class="text-5xl text-center mt-10 font-bold">

        Our Doctors

    </h1>

    <div class="grid md:grid-cols-3 gap-10 p-10">

        <div class="bg-white p-10 rounded-3xl shadow-xl text-center">

            <h1 class="text-3xl font-bold">

                Dr. Richa

            </h1>

            <p class="text-cyan-500 text-2xl mt-3">

                Cardiologist

            </p>

            <button class="bg-blue-600 text-white px-6 py-3 rounded-xl mt-5">

                Book Appointment

            </button>

        </div>

    </div>

</body>

</html>