<!DOCTYPE html>
<html>

<head>

    <title>Login</title>

    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-cyan-100 flex justify-center items-center h-screen">

    <div class="bg-white p-10 rounded-3xl shadow-xl w-[500px]">

        <h1 class="text-4xl font-bold text-center mb-10">

            Patient Login

        </h1>

        <form method="POST">

            {% csrf_token %}

            <input type="text"
            name="fullname"
            placeholder="Enter Full Name"
            class="border w-full p-4 rounded-xl mb-5">

            <input type="text"
            name="mobile"
            placeholder="Enter Mobile"
            class="border w-full p-4 rounded-xl mb-5">

            <input type="date"
            name="birthdate"
            class="border w-full p-4 rounded-xl mb-5">

            <button class="bg-cyan-500 text-white w-full p-4 rounded-xl">

                Login

            </button>

        </form>

        <h1 class="text-center mt-5 text-red-500">

            {{ msg }}

        </h1>

    </div>

</body>

</html>